* {
    font-size: 1.05em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

th {
    background-color: lightblue;
}

#brandformdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #brandformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #brandformdiv label {
        font-weight: bolder;
    }

table button {
    padding: 2px;
}

#brandupdateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #brandupdateformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #brandsupdateformdiv label {
        font-weight: bolder;
    }

#bikeformdiv {
    display: flex;
    flex-direction: column;
}

    #bikeformdiv label, button, input {
        margin: 10px;

    }

    #bikeformdiv label {
        font-weight: bolder;
    }

#bikeupdateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #bikeupdateformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #bikeupdateformdiv label {
        font-weight: bolder;
    }

#rentalformdiv {
    display: flex;
    flex-direction: column;
}

    #rentalformdiv label, button, input {
        margin: 10px;
    }

    #rentalformdiv label {
        font-weight: bolder;
    }

#rentalupdateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #rentalupdateformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #rentalupdateformdiv label {
        font-weight: bolder;
    }